* {
  font-family: "Amazon Ember", sans-serif;
  margin: 0;
}

/* APP */
.forms-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
}

/* HEADER */
.header-container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 32%;
  padding: 23px;
}

/* BANNER */
.banner-container {
  display: flex;
  justify-content: center;
  background-color: #082aa6;
}

.banner-text {
  color: #fff;
  padding: 13px;
  font-style: italic;
  font-size: 17px;
}

/* MATERIAS */
.materias-container {
  width: auto;
  padding: 50px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.materias-header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-weight: lighter;
}

.materias-button {
  background-color: #198653;
  color: #fff;
  border: none;
  border-radius: 20%;
  padding: 8px 12px;
}

.materias-button:hover {
  background-color: #156e45;
  cursor: pointer;
}

table,
td,
th {
  border: #c7c7c7 1px solid;
  border-collapse: collapse;
  font-size: 20px;
  text-align: center;
  width: auto;
  padding: 10px;
}

tr {
  font-size: large;
}

tbody:nth-child(even) {
  background-color: #dfdfdf;
}

tr:hover {
  background-color: #cccccc;
}

/* HORARIO */
.horario-button {
  background-color: #dd3544;
  color: #fff;
  border: none;
  border-radius: 20%;
  padding: 8px 12px;
}

.horario-button:hover {
  background-color: #b62d39;
  cursor: pointer;
}

/* FOOTER */
.footer-container {
  display: flex;
  justify-content: center;
  background-color: #082aa6;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-text {
  color: #fff;
  padding: 13px;
  font-weight: bold;
  font-size: 17px;
}
