* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* APP */
.forms-container {
  display: flex;
  flex-direction: row;
}

/* HEADER */
.header-container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 32%;
  padding: 23px;
}

/* BANNER */
.banner-container {
  display: flex;
  justify-content: center;
  background-color: #082aa6;
}

.banner-text {
  color: #fff;
  padding: 13px;
  font-style: italic;
  font-size: 17px;
}

/* FOOTER */
.footer-container {
  display: flex;
  justify-content: center;
  background-color: #082aa6;
}

.footer-text {
  color: #fff;
  padding: 13px;
  font-weight: bold;
  font-size: 17px;
}